<div>
  <h1>Contact</h1>
</div>
<div class="container-fluid">
  <div class="row row1">

    <div class="col-sm-5 col-10 offset-1 contact-form">
      <section class="contact">
        <div class="form-area">
          <br style="clear:both">
          <h2>Contact Form</h2>
          <form [formGroup]="contactForm">
          <div class="form-group">
            <input formControlName="name" type="text" class="form-control" id="name" name="name" placeholder="Nom"
                   [ngClass]="{'red-border' : !contactForm.get('name').valid && !contactForm.pristine}">
            <span *ngIf="!contactForm.get('name').valid && !contactForm.pristine" class="red">
              Nom requis
            </span>
          </div>
          <div class="form-group">
            <input formControlName="email" type="text" class="form-control" id="email" name="email" placeholder="Email"
                   [ngClass]="{'red-border' : !contactForm.get('email').valid && !contactForm.pristine}">
            <span *ngIf="!contactForm.get('email').valid && !contactForm.pristine" class="red">
              Email requis
            </span>
          </div>
          <div class="form-group">
            <input formControlName="mobileNumber" type="text" class="form-control" id="mobile" name="mobile" placeholder="Portable">
          </div>
          <div class="form-group">
            <input formControlName="subject" type="text" class="form-control" id="subject" name="subject" placeholder="Objet">
          </div>
          <div class="form-group">
            <textarea formControlName="message" class="form-control" type="textarea" id="message" placeholder="Message" maxlength="140" rows="7"
                      [ngClass]="{'red-border' : !contactForm.get('message').valid && !contactForm.pristine}"></textarea>
            <span *ngIf="!contactForm.get('message').valid && !contactForm.pristine" class="red">
              Message requis
            </span>
            <span class="help-block"><p id="characterLeft" class="help-block "></p></span>
          </div>
          <div class="submit_btn">
            <button type="button" id="submit"  (click)="onSubmit(contactForm.value)" name="submit" [disabled]= !contactForm.valid class="btn pull-center">Submit Form</button></div>
          </form>
        </div>
      </section>
    </div>

    <div class="col-sm-4 col-10 offset-1">
      <section class="buttons">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title"><mat-icon>email</mat-icon>  Mail</h3>
          </div>
          <div class="panel-body">
            <p>
              ionukpop@gmail.com
            </p>
          </div>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title"><mat-icon>call</mat-icon> Phone</h3>
          </div>
          <div class="panel-body">
            <p>
            +33 6 69 09 18 10
            </p>
          </div>
        </div>
        <section class ="map">
          <h2>Locate me</h2>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2621.8876626463166!2d2.453422815217414!3d48.91753250449543!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66cb68d9f21e9%3A0x88956c8f69d94ca1!2s144+Avenue+Jean+Jaur%C3%A8s%2C+93700+Drancy!5e0!3m2!1sfr!2sfr!4v1541520334837"  frameborder="0" style="border:0" allowfullscreen></iframe>

        </section>
      </section>
    </div>
  </div>
</div>
