.main {
  background-image: url("../../assets/images/poza1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
  .logo {
    h1 {
      color: #15a1dc;
      margin-top: 0rem;
      padding-top: 1rem;
      text-align: center;
    }
  }
  .motto {

    h2 {
      color: #15a1dc;
      padding: 7rem 3rem 0rem 3rem;
      text-align: right;

    }

  }
  .enter {
    margin-bottom: 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    a {
      border: 1px solid white;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      color: #15a1dc;
      margin: 0rem;
      text-align: center;
      width: 100px;
      font-size: 1.5rem;
      text-decoration: none;

    }
    a:hover {
      background-color: white;
    }
  }


;
}
