.main {
  background-image: url("../../assets/images/poza1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
  padding-left: 2rem;
  .logo {
    h1 {
      color: #15a1dc;
      margin-top: 0rem;
      padding-top: 1rem;
      padding-left: 10rem;
    }
  }
  .motto {
    h2 {
      color: #15a1dc;
    }
  }

;
}
