.products{
  h1{
    color: #0c9cff;
    text-align: center;
    margin-bottom: 80px;
  }
  .category{
      display:flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
    .window{
      width:40%;
      height:800px;
      display:flex;
      flex-direction: column;
      align-items: center;
      .image{
        background-image: url("../../../assets/images/poza16mini.jpg");
        background-position: center;
        background-size: cover;
        border-radius: 20%;
        width:100%;
        height:50%;
      }
      .text{
        padding-top: 10px;
        width:80%;
        height:50%;
        color: #0c9cff;
      }
    }
    .aluminium{
      width:40%;
      height:800px;
      display:flex;
      flex-direction: column;
      align-items: center;
      .image{
        background-image: url("../../../assets/images/aluminiu1.jpg");
        background-position: center;
        background-size: cover;
        border-radius: 20%;
        width:100%;
        height:50%;
      }
      .text{
        padding-top: 10px;
        width:80%;
        height:50%;
        color: #0c9cff;
      }
    }
    .garage {
      width:40%;
      height:800px;
      display:flex;
      flex-direction: column;
      align-items: center;
      .image{
        background-image: url("../../../assets/images/poza5mini.jpg");
        background-position: center;
        background-size: cover;
        border-radius: 20%;
        width:100%;
        height:50%;
      }
      .text{
        padding-top: 10px;
        width:80%;
        height:50%;
        color: #0c9cff;
      }
    }
    .velux {
      width:40%;
      height:800px;
      .image{
        background-image: url("../../../assets/images/velux.jpg");
        background-position: center;
        background-size: cover;
        border-radius: 20%;
        width:100%;
        height:50%;
      }
      .text {
        padding-top: 10px;
        width: 100%;
        text-align: center;
        height: 50%;
        color: #0c9cff;
      }
    }
    .pvc {
      width:40%;
      height:800px;
      display:flex;
      flex-direction: column;
      align-items: center;
      .image{
        background-image: url("../../../assets/images/rehau1mini.jpg");
        background-position: center;
        background-size: cover;
        border-radius: 20%;
        width:100%;
        height:50%;
      }
      .text{
        padding-top: 10px;
        width:80%;
        height:50%;
        color: #0c9cff;
      }
    }
  }
}
@media screen and (max-width: 975px) {
  .products{
    .category{
      .window{
        height:1000px;
        .image{
          height:25%;
        }
        .text{
          height:70%;
        }
      }
      .garage{
        height:1000px;
        .image{
          height:25%;
        }
        .text{
          height:70%;
        }
      }
      .pvc{
        height:1000px;
        .image{
          height:25%;
        }
        .text{
          height:70%;
        }
      }
      .aluminium{
        height:1000px;
        .image{
          height:25%;
        }
        .text{
          height:70%;
        }
      }
      .velux{
        height:1000px;
        .image{
          height:25%;
        }
        .text{
          height:70%;
        }
      }
    }
  }
}
@media screen and (max-width: 670px) {
  .products{
    .category{
      .window {
        width: 80%;
        height:850px;
        .image{
          height:40%;
        }
      }
      .velux{
        width:80%;
        height:800px;
        .image{
          height:40%;
        }
      }
      .pvc {
        width: 80%;
        height:800px;
        .image{
          height:40%;
        }
      }
      .aluminium{
        width:80%;
        height:800px;
        .image{
          height:40%;
        }
      }
      .garage{
        width:80%;
        height:800px;
        .image{
          height:40%;
        }
      }

    }
  }
}
