<div class="products">
  <h1>Produits</h1>
  <div class="category">
    <div class="window">
      <div class="image"></div>
      <div class="text">Les vitres thermo-isolantes et les dérivés de vitres offerts par VIVBAT sont certifiés CE.

        Nous vous offrons les types de vitres suivants :
        <ul>
          <li>classique – à 2 feuilles de verre à contrôle solaire</li>
          <li>triplex – à verre à contrôle solaire</li>
          <li>vitre anti-effraction jusqu’à 10.10.1</li>
          <li>vitre sécurisée</li>
          <li>vitre thermo-résistante (ROBAX) pour les cheminées et les zones de protection accrue au feu</li>
          <li>vitre anti-balles – différentes classes de résistance</li>
          <li>une grande variété de vitres mattes, ornementales, colorées, reflétantes</li>
          <li>vitre bombée</li>
        </ul>
      </div>
    </div>
    <div class="garage">
      <div class="image"></div>
      <div class="text">
        VIVBAT vous offre une gamme variée de portes de garage DOORTECH, assurant de la qualité, de la sûreté et des services de montage professionnels.
        Portes de garage résidentielles – jusqu’à la hauteur de 3 m :
        <ul>
          <li>blanches ou imitation de bois</li>
          <li>toute couleur RAAL</li>
          <li>aux vitres ou pleines</li>
          <li>aux cassettes ou non</li>
          <li>à porte piétons</li>
          <li>automatiques ou manuelles</li>
          <li>aux cassettes, aux lignes, à automatisation NICE ou manuelles</li>
        </ul>
      </div>
    </div>
    <div class="aluminium">
      <div class="image"></div>
      <div class="text">
        <p>La menuiserie en aluminium est la meilleure alternative aux constructions à part, atypiques, qui ne sont faites qu’en acier-béton-verre.
          Le mode d’assemblage par sertissage de la menuiserie en aluminium lui confère un haut degré de résistance mécanique. La teinture de la menuiserie en aluminium a lieu dans un champ électrostatique et peut être exécutée dans une grande variété de couleurs.</p>

      </div>
    </div>
    <div class="pvc">
      <div class="image"></div>
      <div class="text">
        VIVBAT exécute des fenêtres et des portes en PVC de diverses formes et profondeurs de profilés, à 3-6 chambres d’isolation thermique, y compris le profilé le plus nouveau et le plus isolateur, « GENEO ».
        La menuiserie PVC peut être dans une gamme variée de couleurs RAAL et d’imitations en bois.
        Les produits de menuiserie PVC fabriqués par Geoplast respectent un standard élevé de qualité, conjointement avec nos partenaires depuis plus de 10 ans, les fournisseurs de profilés « REHAU ».
      </div>
    </div>
    <div class="velux">
      <div class="image"></div>
      <div class="text">VIVBAT vous offre une gamme large des fenêtres de mansarde</div>
    </div>
  </div>
</div>
