<div class="products">
  <h1>Product</h1>
  <div class="category">
    <div class="windows">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Les vitres thermo-isolantes et leurs dérivés</mat-card-title>
      </mat-card-header>
      <img mat-card-image class="card-image" src="../../assets/images/poza16mini.jpg" alt="windows">
      <mat-card-content>
        <p>
          Les vitres thermo-isolantes et les dérivés de vitres offerts par VIVBAT sont certifiés CE.
          Nous vous offrons les types de vitres suivants :
        </p>
        <ul>
          <li>classique – à 2 feuilles de verre à contrôle solaire</li>
          <li>triplex – à verre à contrôle solaire</li>
          <li>vitre anti-effraction jusqu’à 10.10.1</li>
          <li>vitre sécurisée</li>
          <li>vitre thermo-résistante (ROBAX) pour les cheminées et les zones de protection accrue au feu</li>
          <li>vitre anti-balles – différentes classes de résistance</li>
          <li>une grande variété de vitres mattes, ornementales, colorées, reflétantes</li>
          <li>vitre bombée</li>
        </ul><
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card></div>
    <div class="windows">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image class="card-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
    </div>
  </div>
</div>
