<div class="portofolio">
  <h1>Portofolio</h1>
  <div class="row">
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza2.jpg">
        <img src="../../../assets/images/poza2mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza3.jpg">
        <img src="../../../assets/images/poza3mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza4.jpg">
        <img src="../../../assets/images/poza4mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza5.jpg">
        <img src="../../../assets/images/poza5mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza6.jpg">
        <img src="../../../assets/images/poza6mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza7.jpg">
        <img src="../../../assets/images/poza7mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza8.jpg">
        <img src="../../../assets/images/poza8mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza9.jpg">
        <img src="../../../assets/images/poza9mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza10.jpg">
        <img src="../../../assets/images/poza10mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza11.jpg">
        <img src="../../../assets/images/poza11mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza13.jpg">
        <img src="../../../assets/images/poza13mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza14.jpg">
        <img src="../../../assets/images/poza14mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza15.jpg">
        <img src="../../../assets/images/poza15mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza16.jpg">
        <img src="../../../assets/images/poza16mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza17.jpg">
        <img src="../../../assets/images/poza17mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza18.jpg">
        <img src="../../../assets/images/poza18mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza19.jpg">
        <img src="../../../assets/images/poza19mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza20.jpg">
        <img src="../../../assets/images/poza20mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza21.jpg">
        <img src="../../../assets/images/poza21mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza22.jpg">
        <img src="../../../assets/images/poza22mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza23.jpg">
        <img src="../../../assets/images/poza23mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza24.jpg">
        <img src="../../../assets/images/poza24mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza25.jpg">
        <img src="../../../assets/images/poza25mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza26.jpg">
        <img src="../../../assets/images/poza26mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza27.jpg">
        <img src="../../../assets/images/poza27mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza28.jpg">
        <img src="../../../assets/images/poza28mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza29.jpg">
        <img src="../../../assets/images/poza29mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza30.jpg">
        <img src="../../../assets/images/poza30mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza31.jpg">
        <img src="../../../assets/images/poza31mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza32.jpg">
        <img src="../../../assets/images/poza32mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza33.jpg">
        <img src="../../../assets/images/poza33mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza34.jpg">
        <img src="../../../assets/images/poza34mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza35.jpg">
        <img src="../../../assets/images/poza35mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza36.jpg">
        <img src="../../../assets/images/poza36mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza37.jpg">
        <img src="../../../assets/images/poza37mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza38.jpg">
        <img src="../../../assets/images/poza38mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza39.jpg">
        <img src="../../../assets/images/poza39mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza40.jpg">
        <img src="../../../assets/images/poza40mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza41.jpg">
        <img src="../../../assets/images/poza41mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza42.jpg">
        <img src="../../../assets/images/poza42mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza43.jpg">
        <img src="../../../assets/images/poza43mini.jpg" class="img-thumbnail">
      </a>
    </div>
    <div class="col-xs-12 col-lg-3 image">
      <a href="../../../assets/images/poza44.jpg">
        <img src="../../../assets/images/poza44mini.jpg" class="img-thumbnail">
      </a>
    </div>



  </div>
</div>
