<div class="team">
  <h1>VIVBAT</h1>
  <div class="container">
    <div class="image"></div>
    <div class="description">
      <p>L’entreprise VIV BAT est une société familiale fondée en 2007 par POP Valer, dynamique, née d’une véritable passion pour la conception et la réalisation d’installations électrique dans tous locaux.
        Après quelques années, VIV BAT gagne en savoir-faire, en personnel expérimentés et motivés et se spécialise dans plusieurs domaines tel que la plomberie, peinture, maçonnerie et plus récemment la commercialisation et la pose de fenêtres de très bonne qualité.</p>
    </div>
  </div>

</div>
