.team{
  color: #0c9cff;
  text-align: center;
  h1{
    color: #0c9cff;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .image{
      background-image: url("../../../assets/images/echipa.jpeg");
      width:300px;
      height:300px;
      background-size: 100%;
      border-radius: 50%;
    }
    .description{
      margin-top:50px;
      width:60%;
    }
  }
}
