<div class="services">
  <h1>Services</h1>
<div class="services-image"><a href="../../../assets/images/service.jpg"><img src="../../../assets/images/service.jpg" /></a></div>
  <p>VIVBAT vous offre les services:</p>
<ul>
  <li>conception, exécution et montage menuiserie en PVC Rehau et aluminium à vitre thermo-isolante</li>
  <li>des conseils pour choisir les meilleures solutions techniques</li>
  <li>mesurages, évaluations, démontage de l’ancienne menuiserie, montage rapide</li>
  <li>la garantie des travaux effectués</li>
  <li>le transport gratuit des produits</li>
</ul>
</div>
