.container-main {
  display: flex;
  background-color:white;
  width: 100%;
  min-height: 100vh;
  margin: auto;
}
.container-nav {
  min-height: 100%;
  background: #0c9cff; /* Old browsers */
  background: -moz-linear-gradient(45deg, #19caff 0%, #127cea 50%, #19caff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,#19caff 0%, #127cea 50%, #19caff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #19caff 0%, #127cea 50%, #19caff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.container-pages {
  width: 100%;
  min-height: 100%;
}

@media screen and (max-width: 550px) {
  .container-main {
    display: flex;
    flex-direction: column;
    background-color:white;
    width: 100%;
    min-height: 100vh;
    margin: auto;
  }
  .container-nav {
    height: 110px;
    background: #0c9cff; /* Old browsers */
    background: -moz-linear-gradient(45deg, #19caff 0%, #127cea 50%, #19caff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,#19caff 0%, #127cea 50%, #19caff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #19caff 0%, #127cea 50%, #19caff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
}
