.nav-container {
  min-height: 100vh;
  width: 255px;
  position: fixed;
}

.nav-wrapper {
  min-height: 100%;
  width: 255px;
}

.logo {
  margin: 5rem 1.25rem;
  text-align: center;
  padding: 2.4rem 0 5rem ;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 10px;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;


  border-bottom: 1px solid white;
}



.nav-list {
  margin: 5rem 1.25rem;
  padding: 1rem 0 5rem;
  border-bottom: 1px solid white;
  a{
    color:white;
  }
}

@media screen and (max-width: 975px) {
  .nav-container{
    width: 200px;
  }
  .nav-wrapper{
    width:200px;
  }
  .logo{
    margin: 0.5rem;
  }
}
@media screen and (max-width: 670px) {
  .nav-wrapper {
    min-height: 100%;
    width: 100%;
  }

  .nav-list {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: left;
    a {
      width: 100px;
    }
    margin: 0 1.25rem;
    border-bottom: none;
    padding: 0 8px;
  }
  .nav-container {
    width: 100%;
    height: 90px;
    display: flex;
    min-height: 100px;
    position: relative;
  }
  .logo {
    font-size: 15px;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 10px;
    border-bottom: none;
  }
  mat-list-item {
    width: 100px;
  }
  .mat-nav-list .mat-list-item.mat-list-item-with-avatar {
    height: 35px;
    font-size: 12px;
  }

}
