.nav-container {
  min-height: 100vh;
  width: 255px;
  position: relative;
}

.nav-wrapper {
  min-height: 100%;
  width: 255px;
}

.logo {
  margin: 0 1.25rem;
  text-align: center;
  padding: 2.4rem 0 ;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 10px;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;


  border-bottom: 1px solid white;
}



.nav-list {
  margin: 0 1.25rem;
  padding: 1rem 0;
  border-bottom: 1px solid white;
  a{
    color:white;
  }
}


@media screen and (max-width: 1035px) {
  .nav-container {
    width: auto;
  }
}
