<div class="nav-wrapper">
  <div class="nav-container">
    <div class="logo">
      VIVBAT
    </div>
    <mat-nav-list class="nav-list">
      <a mat-list-item="mat-list-item" routerLink="/home/team">Home
        <mat-icon matListIcon="matListIcon">home</mat-icon>
      </a>
      <a mat-list-item="mat-list-item" routerLink="/home/services">Services
      <mat-icon matListIcon="matListIcon">room_service</mat-icon>
      </a>
      <a mat-list-item="mat-list-item" routerLink="/home/products">Produits
      <mat-icon matListIcon="matListIcon">local_mall</mat-icon>
      </a>
      <a mat-list-item="mat-list-item" routerLink="/home/portofolio">Portofolio
      <mat-icon matListIcon="matListIcon">photo_camera</mat-icon>
      </a>
      <a mat-list-item="mat-list-item" routerLink="/home/contact">Contact
        <mat-icon matListIcon="matListIcon">call</mat-icon>
      </a>
    </mat-nav-list>
    <div>

    </div>
  </div>
</div>

